/* form {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(14, 13, 13, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.form-group {
  position: relative;
}

.form-control {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
} */

/*.form-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}*/

.form-control{
  color: white;
  background: transparent;
  font-weight: 570;
}
label{
  color: white;
  font-weight: 600;
}
hr{
  width: 50%;
  height: 2px;
  background-color: green;
}
.heading{
  color: white;
  text-align: center;
  padding-top: 2%;
}
.container-fluid{
  background-color: rgba(0, 0, 0, 0.374);
  border-radius: 4px;
  padding-bottom: 5%;
  box-shadow: 2px 2px 3px 2px black;
  font-family: 'Architects Daughter', cursive;
  margin-bottom: 5%;