.container {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  padding: 50px ;
  color: white;
  /* background: rgba(0, 0, 0, 0.8); */
  border-radius: 10px;
  box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
    0 1px 1px rgba(243, 236, 236, 0.155),
    0 2.1px 2.1px rgb(61, 61, 61),
    0 4.4px 4.4px rgba(48, 48, 48, 0.973),
    0 12px 12px rgba(128, 128, 128, 0.35);
}
h2 {
  margin: 0 0 50px 0;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: darken(#e5e5e5, 50%);
  border-bottom: solid 1px #e5e5e5;
}
h1 {
  padding: 10px;
  text-align: center;
  font-size: 75px;
  font-family: 'Syne Mono', monospace;
}

/* .form-group {
  margin: 0 0 3em 0;
  position: relative;
} */
/* .form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  margin: 0;
} */

hr {
  width: 50%;
  height: 2px;
  background-color: green;
}
.heading {
  color: white;
  text-align: center;
  padding-top: 2%;
}
