<form (ngSubmit)="submitQuote(); quoteForm.reset()" #quoteForm="ngForm">
  <div class="form-group">
    <label class="form-label" for="author">Author</label>
    <input
      type="text"
      class="form-control"
      id="author"
      name="author"
      [(ngModel)]="newQuote.author"
      #author="ngModel"
      required
    />
  </div>

  <div class="form-group">
    <label class="form-label" for="quote">Quote</label>
    <textarea
      class="form-control"
      name="quote"
      [(ngModel)]="newQuote.quote"
      #quote="ngModel"
      id="quote"
      cols="6"
      rows="3"
      required
    ></textarea>
    <button
      type="submit"
      [disabled]="!quoteForm.form.valid"
      class="btn btn-primary mt-3"
    >
      Submit
    </button>
  </div>
</form>
