<quotes-form (addQuote)="addNewQuote($event)"></quotes-form>
<hr />
<div class="container">
  <div *ngFor="let quote of quotes; let i = index" class="">
    <ul>
      <button class="btn btn-primary" (click)="upVote(i)">
        Upvote <span>{{ quote.upVotes }}</span>
      </button>
      <button class="btn btn-primary" (click)="downVote(i)">
        Downvote <span>{{ quote.upVotes }}</span>
      </button>
      <li>{{ quote.quote }}</li>
      <p>{{ quote.author }}</p>
    </ul>
  </div>
</div>
