p {
  font-size: 20px;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  margin-bottom: 2%;
  background-color: aliceblue;
  box-shadow: 2px 2px 3px 2px black;
}
