<quotes-form (addQuote)="addNewQuote($event)"></quotes-form>
<hr />
<div class="container col-md-12">
  <ul class="all-cards">
    <div *ngFor="let quote of quotes; let i = index">
       <p id="post" style="color: black">
        <em
          >Posted by <strong>{{ quote.name }}</strong>
          <span id="date" id="datecolor">
            on: {{ quote.postDate | date: "medium" }}</span
          >
        </em>
      </p>
      <app-quote-detail
        [quote]="quote"
        (isComplete)="deleteQuote($event, i)"
      ></app-quote-detail>
    </div>

  </ul>
</div> 

