<div class="container col-md-12">
  <div class="row card">
    <p style="font-size: 18px">
      <strong>{{ quote.quote }} - {{ quote.author }}</strong>
    </p>
    <div>
      <button class="btn" (click)="voteUp()">
        <i class="vote1 fa fa-thumbs-up"></i>
      </button>
      {{ upVote }}
      <button class="btn" (click)="voteDown()">
        <i class="vote2 fa fa-thumbs-down"></i>
      </button>
      {{ downVote }}
      <button class="btn" (click)="quoteDelete(true)">
        <i class="trash fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>
