/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.vote1 {
  color: green;
  margin-right: 10px;
}

.vote2 {
  margin-right: 10px;
}

.trash {
  color: red;
}

.btn {
  display: inline-flex;
  flex-direction: row;
}

body {
  background-color:#49ff86; 
  
}
h1{
  font-family: 'Syne Mono', monospace;
}
